extends _master.pug
block head-append
    title 設計｜知音文創 Jean Cultural & Creative Co., Ltd.
    meta(property="og:title" content="設計｜知音文創 Jean Cultural & Creative Co., Ltd.")
    meta(name="description" content="突破傳統、創新思維，創意的種子經由團隊的創意激盪，不斷的修正調整，萌發成為引領時代趨勢的創新商品。")
    meta(property="og:description" content="突破傳統、創新思維，創意的種子經由團隊的創意激盪，不斷的修正調整，萌發成為引領時代趨勢的創新商品。")

    link(rel='stylesheet' href="/asset/lib/swiper/swiper.min.css")
    script(src="/asset/lib/swiper/swiper.min.js" defer)
    script(src="/asset/js/design.js" defer)
    link(rel="stylesheet", href="/asset/css/design.css")

block header
    include ./include/master/header.pug
    +header(['','','ON','','',''])

block content-extend
    include ./include/common/page_theme.pug
    include ./include/common/page_select.pug
    include ./include/common/select.pug
    include ./include/master/makers_header.pug
    .business
        +page_theme("MAKERS","創新開發","background-image:url('${require(`../../img/CH/desktop/makers/bg.jpg`)}')")
        +page_select([['設計','/CH/design.html','ON'],['物料','/CH/material.html',''],['生產','/CH/production.html',''],['行銷','/CH/marketing.html','']],false)
        +makers_header([['設計','/CH/design.html','ON'],['物料','/CH/material.html',''],['生產','/CH/production.html',''],['行銷','/CH/marketing.html','']])
        .main_content
            .main_container
                .makers_description
                    h1 從心出發，提供感動
                    span 秉持著產品來自感情、設計來自創造、素材來自天然的理念，不斷開發更貼近消費者的產品，以好設計啟動人心最純粹的感動。
            .main_container
                .main_title_out
                    span.main_title 營運規模
            .makers_full_screen
                .swiper-container
                    .swiper-wrapper  
                        .swiper-slide
                            img(src="~CH/desktop/makers/design/ph_1_1.jpg", alt="") 
                        .swiper-slide
                            img(src="~CH/desktop/makers/design/ph_1_2.jpg", alt="") 
                        .swiper-slide
                            img(src="~CH/desktop/makers/design/ph_1_3.jpg", alt="") 
                        .swiper-slide
                            img(src="~CH/desktop/makers/design/ph_1_4.jpg", alt="") 
                        .swiper-slide
                            img(src="~CH/desktop/makers/design/ph_1_5.jpg", alt="")
                    .swiper-pagination
                    .swiper-button-prev.swiper-button-black
                    .swiper-button-next.swiper-button-black
                span.text 以台北營運中心為主軸，行銷開發處為核心，擁有台北、深圳、廈門三廠，從行銷企劃、物料開發、產品設計、製造生產到品牌行銷，完整的系統組織，讓商品規模更全面性。
            .main_container     
                .main_title_out
                    span.main_title 專業技術
                .main_wrap
                    .makers_introduction.h_auto
                        .makers_photo
                            .makers_photo_4.design_2_1.first
                            .makers_photo_4.design_2_2
                            .makers_photo_4.design_2_3
                        span 行銷企劃提供精準的市場趨勢分析，設計部超過60名設計人員，擁有豐富設計經驗。以強大的物料寶庫為基礎，藉由現代化製程、全方位生產技術，實踐創意好設計，開拓禮品文創的新里程碑。
            .makers_full_screen
                .makers_introduction.design_1
                    h1 突破框架
                    span 突破傳統、創新思維，產品設計採內部提案模式，創意的種子經由團隊的創意激盪，不斷的修正調整，萌發成為引領時代趨勢的創新商品。
            .makers_full_screen
                .makers_introduction.design_2
                    h1 追求完美
                    span 設計師樣品交由專業的PE工程部整合規劃製程，完成精準的成本計算與打樣，過程中不斷的溝通與改進，以符合設計師原創精神，達到客戶需求。
    include ./include/common/service.pug
    +service("not_index")  
    include ./include/common/fixed_service.pug
