extends _master.pug

block head-append
    title 知音文創 Jean Cultural & Creative Co., Ltd.｜持續創造感動人心的好商品
    meta(property="og:title" content="知音文創 Jean Cultural & Creative Co., Ltd.｜持續創造感動人心的好商品")
    meta(name="description" content="知音文創是個充滿創意、瘋狂、熱情的夢工廠。從原創設計卡片起家，不斷研發提升生產技術與品質，匯集多元商品創意，製造無限夢想的好商品。")
    meta(property="og:description" content="知音文創是個充滿創意、瘋狂、熱情的夢工廠。從原創設計卡片起家，不斷研發提升生產技術與品質，匯集多元商品創意，製造無限夢想的好商品。")

    link(rel='stylesheet' href="/asset/lib/swiper/swiper.min.css")
    script(src="/asset/lib/swiper/swiper.min.js" defer)
    script(src="/asset/lib/jquery.mousewheel.min.js" defer)
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js")

    script(src="/asset/js/index.js" defer)
    link(rel="stylesheet", href="/asset/css/index.css")

block root-prepend
    include ./include/index/top_img.pug
block header
    include ./include/master/header.pug
    +header(['','','','','',''])
block sticky
    .sticky_container
            .text_space
                //- span 祝你每一天都有意想不到的喜悅
                //- span 每一年都有純真的快樂，都即將實現
    .background_black
block content-extend
    include ./include/index/news_events.pug
    include ./include/index/value.pug
    include ./include/index/brand.pug

    include ./include/common/service.pug
    +service("")