extends _master.pug
block head-append
    title 客服信箱｜聯絡我們｜知音文創 Jean Cultural & Creative Co., Ltd.
    meta(property="og:title" content="客服信箱｜聯絡我們｜知音文創 Jean Cultural & Creative Co., Ltd.")
    meta(name="description" content="如果您有任何問題，歡迎透過常見問題進一步了解我們的產品或與我們聯繫!")
    meta(property="og:description" content="如果您有任何問題，歡迎透過常見問題進一步了解我們的產品或與我們聯繫!")

    script(src="/asset/js/shoplist.js" defer)
    link(rel="stylesheet", href="/asset/css/shoplist.css")

block header
    include ./include/master/header.pug
    +header(['','','','','','ON'])

block content-extend
    include ./include/common/page_theme.pug
    include ./include/common/page_select.pug
    include ./include/master/makers_header.pug
    .shoplist
        +page_theme("CONTACT","聯絡我們","background-image:url('${require(`../../img/CH/desktop/shoplist/bg.jpg`)}')")

        +page_select([['銷售通路','/CH/shoplist.html','ON'],['業務冾詢','/CH/business.html',''],['客服信箱','/CH/contact.html','']],false)
        +makers_header([['銷售通路','/CH/shoplist.html','ON'],['業務冾詢','/CH/business.html',''],['客服信箱','/CH/contact.html','']])
        .main_content
            .main_container.first_container
                .main_title_out
                    span.main_title 台灣銷售通路分佈
                .main_wrap
                    .main_icon 直營門市
                    .direct_store_container
                        - for(var i = 0 ; i < 4 ; i++)
                            .direct_store.shoplist
                                img.store_img(src="~CH/desktop/shoplist/show_2.jpg")
                                //- .store_img(style="background-image:url('${require(`../../img/CH/desktop/shoplist/show_2.jpg`)}')")
                                .store_name 華山手創展
                                .store_address 台北市中正區八德路一段1號(中四B長廊) 台北市中正區八德路一段1號(中四B長廊)
                                    a(href="javascript:;").map_icon MAP
                                .store_info
                                    span.title.blue TIME
                                    .text 11：00~21：00
                                    .text 11：00~21：00
                                .store_info
                                    span.title.blue TEL
                                    .text 02-1234556702
                                    .text 02-1234556702
                                .store_info
                                    span.title.blue MEMO
                                    .text 有餐廰服務有餐廰服務有餐廰服務有餐廰服務www.facebook.com
                    .main_icon 線上通路
                    .direct_store_container
                        .external
                            a(href="javascript:;").link.no_arrow PChome商站
                        .external
                            a(href="javascript:;").link 博客來
                        .external
                            a(href="javascript:;").link.no_arrow 繡[Xiu]Crafts官網
                        .external
                            a(href="javascript:;").link 繡[Xiu]Crafts官網
                        .external
                            a(href="javascript:;").link 繡[Xiu]Crafts官網
                    .main_icon 實體通路
                    .direct_store_container
                        .physical_outlet
                            span 如需購買相關商品可洽以下門市，實際商品庫存與品項依各店家為準
                        .external
                            a(href="javascript:;").link PChome商站
                        .external
                            a(href="javascript:;").link.no_arrow 博客來
                        .external
                            a(href="javascript:;").link 繡[Xiu]Crafts官網
                        .external
                            a(href="javascript:;").link 繡[Xiu]Crafts官網
                        .external
                            a(href="javascript:;").link 繡[Xiu]Crafts官網
            .main_container
                .main_title_out
                    span.main_title 全球銷售通路分佈   
                .main_wrap
                    .direct_store_container
                        img.world_map(src="~CH/desktop/shoplist/map.jpg")
                        //- .world_map(style="background-image:url('${require(`../../img/CH/desktop/shoplist/map.jpg`)}')")
                        .description 從台灣出發，銷售市場遍及中港澳、美國、英國、日本、韓國、新加坡、紐澳，等25個國家。
                        .place 
                            .place_name 亞洲
                            .place_country 日本/韓國/大陸/香港/越南/菲律賓/馬來西亞/新加坡/泰國/汶萊/印尼
                        .place 
                            .place_name 大洋洲
                            .place_country 紐西蘭/澳洲
                        .place 
                            .place_name 美洲
                            .place_country 加拿大/美國/阿根廷/智利/墨西哥
                        .place 
                            .place_name 歐洲
                            .place_country 英國/德國/義大利/法國/瑞士/土耳其/芬蘭
                    
    include ./include/common/service.pug
    +service("not_index")  
    include ./include/common/fixed_service.pug
