extends _master.pug
block head-append
    title 網站地圖｜知音文創 Jean Cultural & Creative Co., Ltd.
    meta(property="og:title" content="網站地圖｜知音文創 Jean Cultural & Creative Co., Ltd.")
    meta(name="description" content="知音文創網站地圖。")
    meta(property="og:description" content="知音文創網站地圖。")

    script(src="/asset/js/sitemap.js" defer)
    link(rel="stylesheet", href="/asset/css/sitemap.css")

block header
    include ./include/master/header.pug
    +header(['','','','','',''])

block content-extend
    include ./include/common/page_theme.pug
    include ./include/common/page_select.pug
    include ./include/common/select.pug
    .business
        +page_theme("PRIVACY","隱私權政策","color:#707372;")

        .main_content
            .sitemap_container
                .sitemap_rol_3
                    h1.blue 最新消息
                    .link
                        a(href="javascript:;") 企業動態
                    .link
                        a(href="javascript:;") 媒體報導
                .sitemap_rol_3
                    h1.red 關於我們
                    .link
                        a(href="/CH/about.html") 經營理念
                    .link
                        a(href="/CH/history.html") 歷史沿革  
                    .link
                        a(href="/CH/classic.html") 經典商品
                    .link
                        a(href="/CH/hiring.html") 人才招募
                .sitemap_rol_3
                    h1.yellow 品牌介紹
                    .link
                        a(href="/CH/brand.html") Wooderful life
                    .link
                        a(href="/CH/brand.html") Funtape
                    .link
                        a(href="/CH/brand.html") 紙風景
                    .link
                        a(href="javascript:;") i-Maker
                    .link
                        a(href="javascript:;") 繡[xiu] Crafts
                    .link
                        a(href="javascript:;") 來趣
                    .link
                        a(href="javascript:;") Jeancard
                .sitemap_rol_3
                    h1.green 創新開發
                    .link
                        a(href="/CH/design.html") 設計
                    .link
                        a(href="/CH/material.html") 物料
                    .link
                        a(href="/CH/production.html") 生產
                    .link
                        a(href="/CH/marketing.html") 行銷
                .sitemap_rol_3
                    h1.brown 客戶服務
                    .link
                        a(href="/CH/customization.html") 客製化服務
                    .link
                        a(href="/CH/buyers.html") 經銷商專區
                .sitemap_rol_3                    
                    h1.purple 聯絡我們
                    .link
                        a(href="/CH/shoplist.html") 銷售通路
                    .link
                        a(href="/CH/business.html") 業務洽詢
                    .link
                        a(href="/CH/contact.html") 客服信箱
    include ./include/common/service.pug
    +service("not_index")  
    include ./include/common/fixed_service.pug
