.makers_header {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #6d7170;
    text-align: center;
    transition: 1s;
    @include lessThan($rwdL) {
        height: 70px;
    }
    &.ON {
        top: 70px;
        z-index: 29;
    }
    .wrap {
        ul {
            vertical-align: middle; // padding-top: 18px;
            line-height: 50px;
            @include lessThan($rwdL) {
                // padding-top: 15px;
                line-height: 70px;
            }
        }
        li {
            padding: 0 20px 0 20px;
            display: inline-block;
            font-size: 15px;
            @include lessThan($rwdL) {
                font-size: 22px;
            }
            a {
                color: white;
                position: relative;
                padding-bottom: 5px;
                @include lessThan($rwdL) {
                    line-height: 40px;
                    font-size: 28px;
                } // @include moreThan($rwdL) {
                @at-root .desktop .makers_header .wrap li a {
                    &:hover {
                        color: white;
                        &::after {
                            width: 100%;
                            transition: width 1s;
                        }
                    }
                } // }
                &:after {
                    content: '';
                    height: 1px;
                    width: 0;
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: white;
                    pointer-events: none;
                }
                &.ON {
                    color: white;
                    &::after {
                        width: 100%;
                        transition: width 1s;
                    }
                }
                @at-root .EN .makers_header .wrap li a.Hide {
                    display: none;
                }
            }
        }
    }
}