$fontHei: "Arial",
"微軟正黑體";

$rwdS: 480px;
$rwdM: 640px;
$rwdL: 1000px;
$rwdX: 1440px;
$rwdXL: 1920px;
@mixin lessThan($value) {
    @media only screen and (max-width: #{$value}) {
        @content;
    }
}

@mixin moreThan($value) {
    @media only screen and (min-width: #{$value + 1}) {
        @content;
    }
}