mixin service(str)
        .service(class= str)
                .wrap
                        .container
                                a(href="/CH/business.html").more_btn.blue.service_more.business 業務接洽
                                        .more_hover
                                a(href="/CH/customization.html").more_btn.blue.service_more.customized 合作開發
                                        .more_hover