.fixe_service
    .container
        a(href="/CH/business.html" title="Contact Us").business Cooperation
        span.line
        a(href="/CH/customization.html" title="Cooperation").customized Cooperation