mixin news_select(textarr)
    .news_select_out
        .news_title 快來看看知音還有什麼新消息！
        .news_select
            .switch.default_option= textarr[0][0]
            .switch.switchskin
            .option_out
                each val,index in textarr    
                    p.option(data-value= index ,data-name=val[0])= val[0]
        .clear