mixin service(str)
        .service(class= str)
                .wrap
                        .container
                                a(href="/CH/business.html").more_btn.blue.service_more.business Customiztion
                                        .more_hover
                                a(href="/CH/customization.html").more_btn.blue.service_more.customized Cooperation
                                        .more_hover