{
    "presets": [
        [
            "es2015", {
                "modules": false
            }
        ]
    ],
    "comments": false,
    "plugins": [
        "transform-object-rest-spread"
    ]
}