.page_select_out {
    position: relative;
    z-index: 20;
    background-color: #f4f2f1;
    @include lessThan($rwdL) {
        background-color: white;
        border-bottom: 1px solid lightgrey;
        &.OFF {
            display: none;
        }
    }
    .page_select {
        padding: 35px 0 35px 0;
        text-align: center;
        @include lessThan($rwdL) {
            padding: 0;
            display: flex;
            justify-content: space-around;
        }
        >a,
        p {
            display: inline-block;
            font-size: 22px;
            color: #717372;
            @include lessThan($rwdL) {
                font-size: 30px;
            }
        }
        >p {
            width: 10px;
            height: 10px;
            margin: 0 15px;
            border-radius: 10px;
            background-color: #b7aca6;
            display: none;
            &:nth-child(1) {
                display: none;
            }
            @include lessThan($rwdL) {
                display: none;
            }
        }
        >a {
            margin: 0 60px;
            position: relative;
            line-height: 40px;
            letter-spacing: 2px;
            @include lessThan($rwdL) {
                line-height: 72px;
                margin: 0;
            } // @include moreThan($rwdL) {
            @at-root .desktop .page_select_out .page_select>a {
                &:hover {
                    color: #f06b5d;
                    &::after {
                        width: 100%;
                        transition: width 1s;
                    }
                }
            } // }
            &:before {
                content: '';
                width: 10px;
                height: 10px;
                margin: 0 15px;
                position: absolute;
                top: calc(50% - 5px);
                left: -80px;
                border-radius: 10px;
                background-color: #b7aca6;
                display: block;
                @include lessThan($rwdL) {
                    display: none;
                }
            }
            &:nth-child(1) {
                &:before {
                    display: none;
                }
            }
            &:after {
                content: '';
                height: 1px;
                width: 0;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: #f06b5d;
                pointer-events: none;
            }
            &.ON {
                color: #f06b5d;
                &::after {
                    width: 100%;
                    transition: width 1s;
                }
            }
            @at-root .EN .page_select_out .page_select a.Hide {
                display: none;
            }
        }
    }
}