.search {
    position: relative;
    height: 45px;
    @include lessThan($rwdL) {
        height: 65px;
    }
    // @at-root .EN .search input{
    //     font-size: 20px;
    // }
    input {
        height: 45px;
        width: calc(100% - 45px);
        font-size: 16px;
        padding: 0 20px;
        letter-spacing: 1px;
        box-sizing: border-box;
        border: 1px solid #dad4d1;
        @include lessThan($rwdL) {
            height: 65px;
        }
        @include lessThan($rwdL) {
            height: 65px;
            width: calc(100% - 65px);
            font-size: 30px;
        }
        &:focus {
            // width: calc(100% - 65px);
            outline-width: 0;
        }
    }
    .icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 100%;
        display: block;
        background-image: url('~CH/desktop/buyers/icon_search.png');
        background-position: center;
        background-size: cover;
        background-color: #d5cfcc;
        @include lessThan($rwdL) {
            width: 65px;
        }
    }
    &.catalog {
        width: 375px;
        position: absolute;
        right: 0;
        top: 55px;
        @include lessThan($rwdL) {
            width: 100%;
            position: relative;
            top: 0;
            margin-bottom: 15px;
        }
    }
}