.top_img
    .bg_list
        .top_bg.bg_0.OFF
        .top_bg.bg_1.OFF
        .top_bg.bg_2.OFF
        .top_bg.bg_3.OFF
        .bg_black
    .wrap
        a(href="javascript:;", class="logo")
            img(src="~CH/desktop/index/logo.png", alt="") 
        .links
            a.shopping_cart(href="") SHOP
            a.CH.ON(href="") CH
            a.EN(href="") EN
        .essay
            //-  title圖片尺吋 135px
            .dotted_line.left
            .title(style="height:135px;")
                .text_1
                    img(src="~EN/desktop/index/top_title_1.png", alt="")
                .text_2
                    img(src="~EN/desktop/index/top_title_2.png", alt="")
            .dotted_line.right
            .content
                //- 控制顯示delay的時間
                .text(class="") Combining element of paper craft, creativity, 
                .text(class="") feelings, environmental protection and 
                .text(class="") nature, we come up with novel ideas and keep
                .text(class="") moving forward to create innovative products.
        .see_more
            img(src="~CH/desktop/index/see_more.png", alt="")