.desktopo_value_out  
    .desktop_value.style_1
        .bg_list
            .bg.bg_1
            .bg.bg_2
            .bg.bg_3
            .bg.bg_4
        .wrap
            .title VALUE
                .color
                    .c_1(style="background-color: #f3a0a2;")
                    .c_2(style="background-color: #6e99cb;")
                    .c_3(style="background-color: #f7ac1d;")
                    .c_4(style="background-color: #95d0bc;")
                    .c_5(style="background-color: #dcb483;")
            .container
                .textOut
                    .text warm x crazy creation
                .subjectOut
                    .subjectBorder
                        .subject
                            .text
                                p 
                                    i.red D
                                    i.red E
                                    i.red S
                                    i.red I
                                    i.red G
                                    i.red N
                                p 
                                    i.blue M
                                    i.blue A
                                    i.blue T
                                    i.blue E
                                    i.blue R
                                    i.blue I
                                    i.blue A
                                    i.blue L
                                p 
                                    i.green P
                                    i.green R
                                    i.green O
                                    i.green D
                                    i.green U
                                    i.green C
                                    i.green T
                                    i.green I
                                    i.green O
                                    i.green N
                                p  
                                    i.yellow M
                                    i.yellow A
                                    i.yellow R
                                    i.yellow K
                                    i.yellow E
                                    i.yellow T
                                    i.yellow I
                                    i.yellow N
                                    i.yellow G
                .descriptionOut
                    .description
                        p We keep generating creativities and aim to provide customers with products with warm feelings, innovative design and natural materials.
                        p Jean Topia, which stores more than 30,000 kinds of materials, helps us manage the materials in a systematical way. It is also a place for designer to find inspiration and check the cost.
                        p Following intelligence trend, we develop advanced manufacturing processes and control our product quality strictly. We successfully create the delicacy of traditional craft and pay much attention to environmental sustainability issue.
                        p The charming and customer-friendly display helps us boost sales performance effectively.
                -var arr=['','/CH/design.html','/CH/material.html','/CH/production.html','/CH/marketing.html'];
                -for (var i = 1 ; i<= 4 ; i++)
                    a.more_btn.white.value_more(class="more_"+i href=arr[i]) MORE
                        .more_hover
                .show_page
                    -for (var i = 1 ; i<= 4 ; i++)
                        .white_line
                            div(class="color_" + i)
- var titleList = ['','DESIGN', 'MATERIAL', 'PRODUCTION', 'MARKETING']
- var colorList= ['','red','blue','green','yellow']
- var textList = ['','We keep generating creativities and aim to provide customers with products with warm feelings, innovative design and natural materials.','Jean Topia, which stores more than 30,000 kinds of materials, helps us manage the materials in a systematical way. It is also a place for designer to find inspiration and check the cost.','Following intelligence trend, we develop advanced manufacturing processes and control our product quality strictly. We successfully create the delicacy of traditional craft and pay much attention to environmental sustainability issue.','The charming and customer-friendly display helps us boost sales performance effectively.'];
- var linkList = ['','/CH/design.html','/CH/material.html','/CH/production.html','/CH/marketing.html']
-for (var index=1; index<=4 ; index++)
    div(class="mobile_value bg_"+index)
        .wrap
            .title VALUE
                .color            
                    .c_1(style="background-color: #f3a0a2;")
                    .c_2(style="background-color: #6e99cb;")
                    .c_3(style="background-color: #f7ac1d;")
                    .c_4(style="background-color: #95d0bc;")
                    .c_5(style="background-color: #dcb483;")

            .container
                .textOut
                    .text warm x crazy creation
                .subjectOut
                    .subjectBorder
                        .subject
                            .text
                                p
                                    -for(var j=0;j < titleList[index].length ;j++)
                                        i(class=colorList[index])=titleList[index][j]
                .descriptionOut
                    .description
                        p= textList[index]
                a(href=linkList[index]).more_btn.white MORE
                    .more_hover