.footer
    .black.less_z_index
        .top_space
            .to_top
        .links
            a.logo(href="/EN/index.html")
                img(src="~CH/desktop/footer/logo.svg", alt="")
            a.circle.fb(href="https://www.facebook.com/jeancard1975/" target="_blank")
                img(src="~CH/desktop/footer/fb.png", alt="")
            a.circle.ig(href="" target="_blank")
                img(src="~CH/desktop/footer/ig.png", alt="")
            a.circle.youtube(href="https://www.youtube.com/channel/UCrJQgmKscR8LWpUw2i6Srog " target="_blank")
                img(src="~CH/desktop/footer/youtube.png", alt="")
            a.circle.shopping(href="" target="_blank")
                img(src="~CH/desktop/footer/shopping.png", alt="")
        .page_link
            span(style="border-right:2px solid #99323a")
                a(href="javascript:;") 企業動態
                a.point ．
                a(href="javascript:;") 媒體報導
            span(style="border-right:2px solid #6889b6")
                a(href="/EN/about.html") Operation Concept
                a.point ．
                a(href="/EN/history.html") History
                a.point ．
                a(href="/EN/classic.html") Classic
                a.point ．
                a(href="/EN/hiring.html") HR
            span(style="border-right:2px solid #9c6e28")
                a(href="/EN/design.html") Design
                a.point ．
                a(href="/EN/material.html") Material
                a.point ．
                a(href="/EN/production.html") Production
                a.point ．
                a(href="/EN/marketing.html") Marketing
            span(style="border-right:2px solid #c83b46")
                a(href="javascript:;") Jeancard
                a.point ．
                a(href="javascript:;") Wooderful life
                a.point ．
                a(href="javascript:;") Funtape
                a.point ．
                a(href="javascript:;") 紙風景
                a.point ．
                a(href="javascript:;") i-Marker
                a.point ．
                a(href="javascript:;") 繡[xiu]Crafts
                a.point ．
                a(href="javascript:;") 來趣
            span(style="border-right:2px solid #7a9b21")
                a(href="/EN/buyers.html") Customer Login
                a.point ．
                a(href="/EN/customization.html") Customer Service
            span
                a(href="/EN/shoplist.html") Contacct Us
                a.point ．
                a(href="/EN/business.html") Customer Service
                a.point ．
                a(href="/EN/contact.html") Email
        .logo_list
            .logo_bg
                - for (var x = 0; x < 8; x++)
                    a(href="javascript:;")
                        img(src="~CH/desktop/footer/logo_test_1.png", alt="")

        .info_list
            .read
                a(href="/EN/sitemap.html").rule 網站地圖
                a(href="/EN/privacy.html").webmail Privacy Policy
                a(href="http://mail.jeanco.com.tw:8080" target="_blank").help Staff Webmail
            .company 
                span.name Jean Cultural & Creative Co., Ltd.
                span.point ．
                span 1F, NO.95-6 PAO-CHUNG RD, HSIN TIEN DIST., NEW TAIPEI CITY, TAIWAN, R.O.C. TEL：+886-2-29171700
            .address © Jean Cultural & Creative Co., Ltd. All Rights Reserved.