.brand
    .wrap
        .title BRAND
        .container
            .style_1_out
                a(href="javascript:;" name="test_1").style_1
                    img(src="~CH/desktop/index/brand/style_1.jpg", alt="")
                    .content_1
                        img(src="~CH/desktop/index/brand/style_1_logo.png", alt="")
                    .content_2
                        span.text 不用言語的溫暖不用言語的溫暖不用言語的溫暖不用言語的溫暖不用言語的溫暖
                        span.boder_bottom(style="background-color:#dcb483;")
                a(href="javascript:;" name="test_1").style_1
                    img(src="~CH/desktop/index/brand/style_1.jpg", alt="")
                    .content_1
                        img(src="~CH/desktop/index/brand/style_1_logo.png", alt="")
                    .content_2
                        span.text 不用言語的溫暖不用言語的溫暖不用言語的溫暖不用言語的溫暖不用言語的溫暖
                        span.boder_bottom(style="background-color:#dcb483;")
            .style_2_out
                -for (var x = 1; x <= 10; x++)
                    a(href="javascript:;" name="test_2").style_2
                        img(src="~CH/desktop/index/brand/style_2.jpg", alt="")
                        .content
                            .content_1
                                img(src="~CH/desktop/index/brand/style_2.logo.png", alt="")
                            .content_2
                                .text 玩樂生活
                        span.boder_bottom(style="background-color:#ee777b;")