.top_img
    .bg_list
        .top_bg.bg_0.OFF
        .top_bg.bg_1.OFF
        .top_bg.bg_2.OFF
        .top_bg.bg_3.OFF
        .bg_black
    .wrap
        a(href="javascript:;", class="logo")
            img(src="~CH/desktop/index/logo.svg", alt="") 
        .links
            a.shopping_cart(href="") SHOP
            a.CH.ON(href="") CH
            a.EN(href="") EN
        .essay
            //-  title圖片尺吋 135px
            .dotted_line.left
            .title(style="height:135px;")
                .text_1
                    img(src="~CH/desktop/index/top_title_1.png", alt="")
                .text_2
                    img(src="~CH/desktop/index/top_title_2.png", alt="")
            .dotted_line.right
            .content
                //- 控制顯示delay的時間
                .text(class="") 知音結合了紙藝、創意、情感、環保與自然  
                .text(class="") 從平凡的事物中找到新奇的小點子
                .text(class="") 從不間斷的嘗試與創新，是我們秉持不變的信念！
        .see_more
            img(src="~CH/desktop/index/see_more.png", alt="")