@import './include/master/_walter.scss';
@import './include/common/_main.scss';
@import './include/common/_page_theme.scss';
@import './include/common/_page_select.scss';
@import './include/master/_more_btn.scss';
@import './include/common/_service.scss';
@import './include/common/_fixed_service.scss';
@import './include/contact/_contact.scss';
@import './include/common/_select.scss';
@import './include/common/_search.scss';
@import './include/master/_makers_header.scss';
.log_out {
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 22px;
    display: inline-block;
    @include lessThan($rwdL) {
        font-size: 28px;
        // top: 190px;
        height: 32px;
        top: auto;
        bottom: 10px;
        line-height: 32px;
    }
    &.red {
        color: #f14351;
    }
    &::before {
        content: '';
        background-image: url('~CH/desktop/buyers/icon_logout.svg');
        width: 12px;
        height: 15px;
        display: inline-block;
        background-position: center;
        background-size: cover;
        margin-bottom: 5px;
        margin-right: 10px;
        vertical-align: middle;
        @include lessThan($rwdL) {
            width: 27px;
            height: 32px;
            margin-bottom: 0;
            margin-bottom: 5px;
        }
    }
}

.breadcrumb {
    >span {
        color: #c8c0bc;
        font-size: 14px;
        line-height: 22px;
        box-sizing: border-box;
        padding-left: 10px;
        @include lessThan($rwdL) {
            font-size: 24px;
            line-height: 60px;
        }
        a {
            color: #717372;
        }
        &::after {
            margin: 0 8px 2px 8px;
            content: '';
            display: inline-block;
            border-right: 2px solid #717372;
            border-bottom: 2px solid #717372;
            transform: rotate(-45deg);
            width: 5px;
            height: 5px;
            margin-right: 3px;
            @include lessThan($rwdL) {
                margin: 0 8px 0 8px;
                width: 16px;
                height: 16px;
            }
        }
        &:first-child {
            padding-left: 0;
        }
        &:nth-last-child(1) {
            &::after {
                display: none;
            }
        }
    }
}

.totle {
    color: #717372;
    font-size: 14px;
    @include lessThan($rwdL) {
        font-size: 28px;
        line-height: 60px;
    }
    .count {
        display: inline-block;
        &.red {
            color: #f25b67;
        }
    }
}

.download_list {
    // border: 1px solid red;
    padding-top: 80px;
    min-height: 500px;
    // color: #707372;
    padding-bottom: 50px;
    @include lessThan($rwdL) {
        padding-bottom: 0;
    }
    .data_info {
        font-size: 16px;
        line-height: 24px;
        position: relative;
        min-height: 60px;
        display: block;
        color: #707372;
        // border: 1px solid blue;
        // vertical-align: middle;
        background-color: white;
        &:nth-child(2n+1) {
            background-color: #f4f2f1;
        }
        &:hover {
            .name {
                color: #dd6356;
            }
        }
        @include lessThan($rwdL) {
            // min-height: 150px;
            font-size: 28px;
            line-height: 32px;
        }
        .icon {
            position: absolute;
            left: 20px;
            // top: calc(50% - 12px);
            top: calc((60px - 24px) / 2);
            display: inline-block;
            height: 24px;
            background-position: center;
            background-size: cover;
            vertical-align: middle;
            @include lessThan($rwdL) {
                top: calc((60px - 32px) / 2);
            }
            &.brand {
                width: 27px;
                background-image: url('~CH/desktop/buyers/icon_brand.svg');
                @include lessThan($rwdL) {
                    width: 40px;
                    height: 35px;
                }
            }
            &.table {
                width: 24px;
                background-image: url('~CH/desktop/buyers/icon_table.svg');
                @include lessThan($rwdL) {
                    width: 39px;
                    height: 39px;
                }
            }
            &.file {
                width: 17px;
                background-image: url('~CH/desktop/buyers/icon_file.svg');
                @include lessThan($rwdL) {
                    width: 28px;
                    height: 40px;
                }
            }
        }
        .name {
            display: block;
            padding: calc((60px - 24px) / 2) 135px 0 55px;
            @include lessThan($rwdL) {
                padding: calc((60px - 32px) / 2) 95px 0 75px;
            }
        }
        .date {
            display: inline-block;
            position: absolute;
            right: 20px;
            top: calc((60px - 24px) / 2);
            @include lessThan($rwdL) {
                position: static;
                padding: 20px 0 20px 75px;
            }
            &::before {
                display: inline-block;
                content: '';
                width: 1px;
                height: 16px;
                background-color: #cadbf1;
                margin-right: 20px;
                vertical-align: middle;
                @include lessThan($rwdL) {
                    display: none;
                }
            }
        }
    }
}

.pages {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 90px;
    @include lessThan($rwdL) {
        display: none;
    }
    .last {
        transform: rotate(45deg);
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 40px;
        border-left: 1px solid #b7aca6;
        border-bottom: 1px solid #b7aca6;
        &:hover {
            border-left: 1px solid #dd6356;
            border-bottom: 1px solid #dd6356;
        }
    }
    .next {
        transform: rotate(-135deg);
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-left: 40px;
        border-left: 1px solid #b7aca6;
        border-bottom: 1px solid #b7aca6;
        &:hover {
            border-left: 1px solid #dd6356;
            border-bottom: 1px solid #dd6356;
        }
    }
    .page {
        color: #828484;
        margin: 0 13px;
        position: relative;
        &:hover {
            color: #dd6356;
            &::after {
                width: 100%;
            }
        }
        &.ON{
            color: #dd6356;
            &::after {
                width: 100%;
            }
        }
        &::after {
            content: '';
            height: 1px;
            width: 0;
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #dd6356;
        }
    }
}