@import './include/master/_walter.scss';
@import './include/common/_main.scss';
@import './include/common/_page_theme.scss';
@import './include/common/_page_select.scss';
@import './include/master/_more_btn.scss';
@import './include/common/_service.scss';
@import './include/common/_fixed_service.scss';
@import './include/common/_select.scss';
@import './include/master/_makers_header.scss';
.hiring_container {
    width: 100%;
    background-color: #efedeb;
    box-sizing: border-box;
    height: 120px;
    overflow: hidden;
    // box-shadow: 0 1px 20px rgba(72, 74, 77, 0.6);
    @include lessThan($rwdL) {
        display: none;
        border-bottom: none;
        background-color: #f8f6f7;
    }
    &.blue {
        border-bottom: 4px solid #316db5;
        @include lessThan($rwdL) {
            border-bottom: none;
        }
    }
    &.green {
        border-bottom: 4px solid #95d0bc;
        @include lessThan($rwdL) {
            border-bottom: none;
        }        
    }
    &.yellow {
        border-bottom: 4px solid #f7ac1d;
        @include lessThan($rwdL) {
            border-bottom: none;
        }    
    }
}

.OPEN {
    height: auto;
    .hiring_title {
        .hiring_menu {
            transform: rotate(45deg);
        }
    }
    @include lessThan($rwdL) {
        display: block;
    }
}

.hiring_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    position: relative;
    cursor: pointer;
    &::before {
        content: '';
        height: 1px;
        width: 100%;
        // background-color: #dad4d1;
        background-color: #ded9d6;
        position: absolute;
        top: 65px;
        left: 0;
        display: none;
        @include lessThan($rwdL) {
            display: block;
        }
    }
    h1 {
        font-size: 28px;
        line-height: 42px;
        position: relative;
        padding: 0 30px;
        // background-color: #efedeb;
        @include lessThan($rwdL) {
            font-size: 38px;
            line-height: 57px;
        }
    }
    .hiring_menu {
        position: absolute;
        right: 40px;
        top: calc(50% - 10px);
        transform: rotate(225deg);
        width: 20px;
        height: 20px;
        border-top: 2px solid #de6c5f;
        border-left: 2px solid #de6c5f;
        @include lessThan($rwdL) {
            display: none;
        }
    }
}

a.hiring_link {
    font-size: 16px;
    color: #797c7b;
    padding-left: 40px;
    box-sizing: border-box;
    @include lessThan($rwdL) {
        font-size: 28px;
        line-height: 50px;
        // &::after {
        //     width: 15px;
        //     height: 15px;
        //     position: absolute;
        //     top: 35px;
        //     right: 25px;
        // }
    }
    &::after {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        content: '';
        width: 5px;
        height: 5px;
        transform: rotate(-45deg);
        border-right: 2px solid #dd6356;
        border-bottom: 2px solid #dd6356;
        @include lessThan($rwdL) {
            width: 10px;
            height: 10px;
            margin-bottom: 5px;
        }
    }
}

.hiring_content {
    width: 100%;
    box-sizing: border-box;
    padding: 40px 30px;
    background-color: white;
    // box-shadow: 0 1px 20px rgba(72, 74, 77, 0.6);
    @include lessThan($rwdL) {
        box-shadow: none;
        background-color: #f8f6f7;
        padding: 0;
    }
}

.hiring_space {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    @include lessThan($rwdL) {
        padding: 0;
    }
}

.hiring_record {
    padding: 10px 0 10px 170px;
    box-sizing: border-box;
    position: relative;
    min-height: 55px;
    border-bottom: 1px dashed #e0dbd8;
    @include lessThan($rwdL) {
        padding: 10px 0 10px 0;
        border-bottom: none;
    }
    &:last-child {
        border-bottom: none;
    }
    .note {
        font-size: 16px;
        background-color: #f8f7f7;
        width: 160px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        color: #50504e;
        position: absolute;
        top: 10px;
        left: 0;
        box-sizing: border-box;
        font-weight: 700;
        @include lessThan($rwdL) {
            width: 100%;
            position: static;
            top: 0;
            height: 60px;
            font-size: 24px;
            line-height: 60px;
            text-align: left;
            background-color: #eae6e5;
            padding: 0 30px;
            margin-bottom: 10px;
        }
    }
    span.text {
        position: relative;
        box-sizing: border-box;
        padding: 0 0 0 20px;
        font-size: 16px;
        line-height: 24px;
        display: inline-block;
        vertical-align: top;
        color: #61615f;
        width: 100%;
        // font-weight: 700;
        @include lessThan($rwdL) {
            font-size: 28px;
            line-height: 42px;
            padding: 0 0 0 60px;
        }
        &::before {
            content: '．';
            position: absolute;
            top: 0;
            left: 0;
            @include lessThan($rwdL) {
                left: 35px;
            }
        }
        &.width_50 {
            width: 50%;
            @include lessThan($rwdL) {
                width: 100%;
            }
        }
        &.last {
            padding-bottom: 20px;
        }
        &.empty_point{
            &::before {
                content: '';
                @include lessThan($rwdL) {
                    content: '．';
                }
            }
        }
    }
}

.hiring_select_out {
    position: relative;
    z-index: 25;
    padding: 40px 0 20px 0;
    color: #707372;
    background-color: #f8f7f7;
    display: none;
    @include lessThan($rwdL) {
        display: block;
    }
    .hiring_select {
        font-size: 24px;
        width: 600px;
        margin: 0 auto;
        position: relative;
        &.OPEN {
            .switchskin {
                background-color: #a79b94;
                &::before {
                    top: 25px;
                    transform: rotate(225deg);
                }
            }
            .hiring_option_out {
                min-height: 190px;
                overflow-y: scroll;
            }
        }
        .default_option {
            width: calc(100% - 60px);
            box-sizing: border-box;
            border: 1px solid #d5cfcc;
            padding: 20px;
            height: 60px;
            display: inline-block;
        }
        .switchskin {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            background-color: #d5cfcc;
            width: 60px;
            height: 60px;
            &::before {
                position: absolute;
                top: 10px;
                left: 15px;
                display: block;
                content: '';
                width: 25px;
                height: 25px;
                border-bottom: 2px solid white;
                border-right: 2px solid white;
                transform: rotate(45deg);
            }
        }
        .hiring_option_out {
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            height: 0;
            background-color: #eae6e5;
            overflow: hidden;
            transition: height 1s;
            .hiring_option {
                box-sizing: border-box;
                padding: 20px;
                width: 100%;
                height: 60px;
                &:hover {
                    color: white;
                    background-color: #a79b94;
                }
            }
        }
    }
}