@import './include/master/_walter.scss';
@import './include/common/_main.scss';
@import './include/common/_page_theme.scss';
@import './include/common/_page_select.scss';
@import './include/master/_more_btn.scss';
@import './include/common/_service.scss';
@import './include/common/_fixed_service.scss';
@import './include/common/_select.scss';
@import './include/master/_makers_header.scss';
.history_container {
    width: 100%;
    background-color: #efedeb;
    box-sizing: border-box;
    height: 180px;
    overflow: hidden;
    // box-shadow: 0 1px 20px rgba(72, 74, 77, 0.6);
    @include lessThan($rwdL) {
        display: none;
    }
    &.blue {
        border-bottom: 4px solid #316db5;
    }
    &.green {
        border-bottom: 4px solid #95d0bc;
    }
    &.yellow {
        border-bottom: 4px solid #f7ac1d;
    }
}

.OPEN {
    height: auto;
    .history_title {
        .history_menu {
            transform: rotate(45deg);
        }
    }
    @include lessThan($rwdL) {
        display: block;
    }
}

.history_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    position: relative;
    cursor: pointer;
    &::before {
        content: '';
        height: 1px;
        width: 100%;
        // background-color: #dad4d1;
        background-color: #ded9d6;
        position: absolute;
        top: 65px;
        left: 0;
        display: none;
        @include lessThan($rwdL) {
            display: block;
        }
    }
    h1 {
        font-size: 28px;
        line-height: 42px;
        position: relative;
        padding: 0 30px;
        background-color: #efedeb;
        @include lessThan($rwdL) {
            font-size: 38px;
            line-height: 57px;
        }
    }
    p {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 2px;
        @include lessThan($rwdL) {
            font-size: 28px;
            line-height: 42px;
        }
    }
    .history_menu {
        position: absolute;
        right: 40px;
        top: calc(50% - 10px);
        transform: rotate(225deg);
        width: 20px;
        height: 20px;
        border-top: 2px solid #de6c5f;
        border-left: 2px solid #de6c5f;
        @include lessThan($rwdL) {
            display: none;
        }
    }
}

.history_content {
    width: calc(100% - 50px);
    margin-left: 50px;
    box-sizing: border-box;
    padding: 20px 40px;
    box-shadow: -7px 0 20px rgba(72, 74, 77, 0.6);
    background-color: white;
    @include lessThan($rwdL) {
        padding: 20px 10px;
        width: calc(100% - 70px);
        margin-left: 70px;
    }
}

.history_record {
    position: relative;
    padding: 20px 0 0 0;
    border-bottom: 1px dashed #e0dbd8;
    box-sizing: border-box;
    @include lessThan($rwdL) {
        border-bottom: 2px dashed #e0dbd8;
    }
    &:last-child {
        border-bottom: none;
    }
    span.year {
        font-size: 16px;
        width: 50px;
        height: 50px;
        color: white;
        text-align: center;
        line-height: 50px;
        position: absolute;
        top: 20px;
        left: -90px;
        @include lessThan($rwdL) {
            font-size: 22px;
            width: 70px;
            height: 70px;
            left: -80px;
            line-height: 70px;
        }
        &.blue {
            background-color: #316db5;
        }
        &.green {
            background-color: #95d0bc;
        }
        &.yellow {
            background-color: #f7ac1d;
        }
    }
    span.text {
        position: relative;
        box-sizing: border-box;
        padding: 0 0 0 20px;
        font-size: 16px;
        line-height: 24px;
        display: block;
        color: #61615f;
        // font-weight: 700;
        @include lessThan($rwdL) {
            font-size: 28px;
            line-height: 42px;
        }
        &::before {
            content: '．';
            position: absolute;
            top: 0;
            left: 0;
        }
        &.last {
            padding-bottom: 20px;
        }
    }
    .history_logo {
        color: #707372;
        font-size: 16px;
        letter-spacing: 2px;
        line-height: 24px;
        position: relative;
        padding: 0 30px 20px 60px;
        box-sizing: border-box;
        width: 100%;
        display: inline-block;
        @include lessThan($rwdL) {
            font-size: 24px;
            line-height: 36px;
        }
        &::before {
            content: '';
            display: block;
            width: 40px;
            height: 40px;
            background-position: center;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            @include lessThan($rwdL) {
                width: 50px;
                height: 50px;
            }
        }
        &.width_50 {
            width: 50%;
            @include lessThan($rwdL) {
                width: 100%;
            }
        }
        &.mileage {
            &::before {
                background-image: url('~CH/desktop/history/mileage_logo.png');
            }
        }
        &.prize_cup {
            &::before {
                background-image: url('~CH/desktop/history/prize_cup_logo.png');
            }
        }
        .logo_text_out {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            min-height: 40px;
            @include lessThan($rwdL) {
                min-height: 50px;
            }
            .logo_text{
                display: inline-block;
                width: 100%;
            }
        }
    }
}

.history_select_out {
    position: relative;
    z-index: 25;
    padding: 40px 0 20px 0;
    color: #707372;
    background-color: #f8f7f7;
    display: none;
    @include lessThan($rwdL) {
        display: block;
    }
    .history_select {
        font-size: 24px;
        width: 600px;
        margin: 0 auto;
        position: relative;
        &.OPEN {
            .switchskin {
                background-color: #a79b94;
                &::before {
                    top: 25px;
                    transform: rotate(225deg);
                }
            }
            .history_option_out {
                min-height: 190px;
                overflow-y: scroll;
            }
        }
        .default_option {
            width: calc(100% - 60px);
            box-sizing: border-box;
            border: 1px solid #d5cfcc;
            padding: 20px;
            height: 60px;
            display: inline-block;
        }
        .switchskin {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            background-color: #d5cfcc;
            width: 60px;
            height: 60px;
            &::before {
                position: absolute;
                top: 10px;
                left: 15px;
                display: block;
                content: '';
                width: 25px;
                height: 25px;
                border-bottom: 2px solid white;
                border-right: 2px solid white;
                transform: rotate(45deg);
            }
        }
        .history_option_out {
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            height: 0;
            background-color: #eae6e5;
            overflow: hidden;
            transition: height 1s;
            .history_option {
                box-sizing: border-box;
                padding: 20px;
                width: 100%;
                height: 60px;
                &:hover {
                    color: white;
                    background-color: #a79b94;
                }
            }
        }
    }
}