.root {
    display: none !important;

}

body {
    height: 100%;
    width: 100%;
}

.ie_message {
    width: 100%;
    height: 100%;
    text-align: center;
    &:before {
        content: '';
        display: inline-block;
        width: 0px;
        height: 100%;
        vertical-align: middle;
    }
    .ie_link {
        display: inline-block;
        vertical-align: middle;
    }
    img {
        width: 100%;
        max-width: 800px;
    }

    .oops_EN{
        display: none;

        @at-root .EN .ie_message .ie_link{
            display: none;
        }

        @at-root .EN .ie_message .oops_EN{
            display: inline-block;
        }
    }
}