@import './include/master/_walter.scss';
@import './include/common/_main.scss';
@import './include/common/_page_theme.scss';
@import './include/master/_more_btn.scss';
@import './include/common/_service.scss';
@import './include/common/_fixed_service.scss';
@import './include/common/_select.scss';
.sitemap_container {
    width: 750px;
    // border: 1px solid red;
    padding: 80px 0;
    margin: 0 auto;
    font-size: 0;
    @include lessThan($rwdL) {
        width: 600px;
    }
    .sitemap_rol_3 {
        width: calc((100% - ( 35px * 3)) / 4);
        display: inline-block;
        // border: 1px solid blue;
        // height: 100px;
        letter-spacing: 2px;
        box-sizing: border-box;
        margin: 0 35px 40px 0;
        color: #707372;
        vertical-align: top;
        @include lessThan($rwdL) {
            width: calc((100% - 15px) / 2);
            margin: 0 15px 40px 0;
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
        @include moreThan($rwdL) {
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
        h1 {
            font-size: 18px;
            line-height: 36px;
            @include lessThan($rwdL) {
                font-size: 32px;
                line-height: 48px;
            }
            &::after {
                content: '';
                height: 2px;
                width: 100%;
                display: block;
                margin: 15px 0 30px 0;
            }
            &.blue {
                &::after {
                    background-color: #7ba4db;
                }
            }
            &.red {
                &::after {
                    background-color: #ee777b;
                }
            }
            &.yellow {
                &::after {
                    background-color: #f7ac1d;
                }
            }
            &.green {
                &::after {
                    background-color: #b5ded0;
                }
            }
            &.brown {
                &::after {
                    background-color: #dcb483;
                }
            }
            &.purple {
                &::after {
                    background-color: #9d9bcc;
                }
            }
        }
        .link {
            padding-left: 5px;
            a {
                color: #707372;
                font-size: 15px;
                line-height: 34px;
                // display: block;
                position: relative;
                @include lessThan($rwdL) {
                    font-size: 28px;
                    line-height: 42px;
                }
                @include moreThan($rwdL) {
                    &:hover {
                        color: black;
                        &::after {
                            transition: width 1s;
                            width: 100%;
                        }
                    }
                }
                &::after {
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    content: '';
                    height: 1px;
                    width: 0;
                    display: block;
                    background-color: black;
                }
            }
        }
    }
}