.footer
    .black.less_z_index
        .top_space
            .to_top
        .links
            a.logo(href="/CH/index.html")
                img(src="~CH/desktop/footer/logo.svg", alt="")
            a.circle.fb(href="https://www.facebook.com/jeancard1975/" target="_blank")
                img(src="~CH/desktop/footer/fb.png", alt="")
            a.circle.ig(href="" target="_blank")
                img(src="~CH/desktop/footer/ig.png", alt="")
            a.circle.youtube(href="https://www.youtube.com/channel/UCrJQgmKscR8LWpUw2i6Srog " target="_blank")
                img(src="~CH/desktop/footer/youtube.png", alt="")
            a.circle.shopping(href="" target="_blank")
                img(src="~CH/desktop/footer/shopping.png", alt="")
        .page_link
            span(style="border-right:2px solid #99323a")
                a(href="javascript:;") 企業動態
                a.point ．
                a(href="javascript:;") 媒體報導
            span(style="border-right:2px solid #6889b6")
                a(href="/CH/about.html") 理念營運
                a.point ．
                a(href="/CH/history.html") 歷史沿革
                a.point ．
                a(href="/CH/classic.html") 經典商品
                a.point ．
                a(href="/CH/hiring.html") 人才招募
            span(style="border-right:2px solid #9c6e28")
                a(href="/CH/design.html") 設計
                a.point ．
                a(href="/CH/material.html") 物料
                a.point ．
                a(href="/CH/production.html") 生產
                a.point ．
                a(href="/CH/marketing.html") 行銷
            span(style="border-right:2px solid #c83b46")
                a(href="javascript:;") Jeancard
                a.point ．
                a(href="javascript:;") Wooderful life
                a.point ．
                a(href="javascript:;") Funtape
                a.point ．
                a(href="javascript:;") 紙風景
                a.point ．
                a(href="javascript:;") i-Marker
                a.point ．
                a(href="javascript:;") 繡[xiu]Crafts
                a.point ．
                a(href="javascript:;") 來趣
            span(style="border-right:2px solid #7a9b21")
                a(href="/CH/buyers.html") 經銷商專區
                a.point ．
                a(href="/CH/customization.html") 客製化服務
            span
                a(href="/CH/shoplist.html") 銷售通路
                a.point ．
                a(href="/CH/business.html") 業務洽詢
                a.point ．
                a(href="/CH/contact.html") 客服信箱
        .logo_list
            .logo_bg
                - for (var x = 0; x < 8; x++)
                    a(href="javascript:;" target="_blank")
                        img(src="~CH/desktop/footer/logo_test_1.png", alt="")

        .info_list
            .read
                a(href="/CH/sitemap.html").rule 網站地圖
                a(href="/CH/privacy.html").webmail 隱私權政策
                a(href="http://mail.jeanco.com.tw:8080" target="_blank").help 員工Webmail
            .company 
                span.name 知音文創產業股份有限公司
                span.point ．
                span 新北市新店區寶中路95之6號．TEL : +886 2-2917-1700
            .address © Jean Cultural & Creative Co., Ltd. All Rights Reserved.