mixin makers_header(arr)
    .makers_header
        .wrap
            ul
                each val in arr 
                    li
                        a(href=val[1] title="title" class=val[2] target=val[3])=val[0]
                //- li
                //-     a(href="/CH/material.html" title="title" class=arr[1]) 物料
                //- li
                //-     a(href="/CH/production.html" title="title" class=arr[2]) 生產
                //- li
                //-     a(href="/CH/marketing.html" title="title" class=arr[3]) 行銷