 .desktopo_value_out {
     display: none;
     position: relative;
     @at-root .desktop .desktopo_value_out {
         width: 100%;
         height: auto;
     }
 }
 
 .desktop_value {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
     overflow: hidden;
     min-height: 640px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     z-index: 20;
     .bg_list {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         transition: 1s;
         background-color: #e9e6e4;
         .bg {
             background-position: center;
             background-size: cover;
             position: absolute;
             height: 100%;
             width: 100%;
             left: 0;
         }
         .bg_1 {
             background-image: url('~CH/desktop/index/value/bg_1.jpg');
             top: 0;
         }
         .bg_2 {
             background-image: url('~CH/desktop/index/value/bg_2.jpg');
             top: 100%;
         }
         .bg_3 {
             background-image: url('~CH/desktop/index/value/bg_3.jpg');
             top: 200%;
         }
         .bg_4 {
             background-image: url('~CH/desktop/index/value/bg_4.jpg');
             top: 300%;
         }
     }
     .wrap {
         color: white;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         .title {
             padding-top: 70px;
             font-size: 50px;
             letter-spacing: 3px;
             z-index: 2;
             font-weight: 200;
             .color {
                 height: 4px;
                 font-size: 0;
                 padding-top: 20px;
                 text-align: center;
                 div {
                     margin-right: -4px;
                     display: inline-block;
                     height: 4px;
                     width: 25px;
                 }
             }
         }
         .container {
             position: relative;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             width: 1440px;
             border: 1px solid white;
             border-top: none;
             padding: calc((425px - 270px) / 2) 0;
             // padding: 135px 0 135px 0;
             position: relative;
             //圖片更換需改margin-top
             margin-top: 33px;
             .show_page {
                 position: absolute;
                 top: 50%;
                 right: 20px;
                 width: 40px;
                 height: 25px;
                 .white_line {
                     height: 3px;
                     margin-top: 5px;
                     width: 100%;
                     background-color: white;
                     position: relative;
                     >div {
                         float: right;
                         width: 6px;
                         height: 3px;
                         transition: 1s;
                     }
                     .color_1 {
                         background-color: #ee777b;
                     }
                     .color_2 {
                         background-color: #6e99cb;
                     }
                     .color_3 {
                         background-color: #95d0bc;
                     }
                     .color_4 {
                         background-color: #f9c460;
                     }
                 }
             }
             .textOut {
                 position: absolute;
                 //圖片更換需改top
                 top: -19px;
                 left: 0;
                 width: 100%;
                 height: 50px;
                 overflow-x: hidden;
                 text-align: center;
                 .text {
                     font-size: 38px;
                     letter-spacing: 7px;
                     position: relative;
                     display: inline-block;
                     width: auto;
                     padding: 0 30px;
                     &:before {
                         content: '';
                         position: absolute;
                         top: 50%;
                         right: 100%;
                         width: 200%;
                         height: 1px;
                         background-color: white;
                     }
                     &:after {
                         content: '';
                         position: absolute;
                         top: 50%;
                         left: 100%;
                         width: 200%;
                         height: 1px;
                         background-color: white;
                     }
                 }
             }
             .subjectOut {
                 width: 100%;
                 overflow: hidden;
                 text-align: center;
                 .subjectBorder {
                     font-size: 40px;
                     position: relative;
                     display: inline-block;
                     width: auto;
                     padding: 0 90px;
                     height: 50px;
                     @at-root .EN .desktop_value .wrap .container .subjectOut .subjectBorder {
                         padding: 0 10px;
                     }
                     &:before {
                         content: '';
                         position: absolute;
                         top: 50%;
                         right: 100%;
                         width: 100px;
                         height: 2px;
                         background-color: #ee777b;
                     }
                     &:after {
                         content: '';
                         position: absolute;
                         top: 50%;
                         left: 100%;
                         width: 100px;
                         height: 2px;
                         background-color: #ee777b;
                     }
                     .subject {
                         position: relative;
                         width: 125px;
                         height: 50px;
                         overflow: hidden;
                         @at-root .EN .desktop_value .wrap .container .subjectOut .subjectBorder .subject {
                             width: 510px;
                         }
                         .text {
                             position: absolute;
                             top: 45px;
                             left: 0;
                             transition: 1s;
                             line-height: 50px;
                             font-weight: 700;
                             p {
                                //  float: left;
                                font-size: 0;
                                line-height: 0;

                             }
                             i {
                                 display: inline-block;
                                 width: 50px;
                                 height: 50px;
                                 line-height: 50px;
                                 font-size: 40px;
                                 margin: 0;
                                 padding: 0;
                                 &.red {
                                     background-color: #ee777b;
                                 }
                                 &.blue {
                                     background-color: #6e99cb;
                                 }
                                 &.green {
                                     background-color: #95d0bc;
                                 }
                                 &.yellow {
                                     background-color: #f9c460;
                                 }
                                 &:last-child {
                                     margin-left: 25px;
                                 }
                                 @at-root .EN .desktop_value .wrap .container .subjectOut .subjectBorder .subject .text i {
                                     margin-right: 1px;
                                     &:last-child {
                                         margin-right: 0;
                                         margin-left: 0;
                                     }
                                 }
                             }
                         }
                     }
                 }
             }
             .descriptionOut {
                 position: relative;
                 margin: 40px 0 60px 0;
                 width: 595px;
                 height: 70px;
                 overflow: hidden;
                 @at-root .EN .desktop_value .wrap .container .descriptionOut {
                     height: 130px;
                     width: 700px;
                     margin: 40px 0;
                 }
                 .description {
                     position: absolute;
                     top: 70px;
                     left: 0;
                     text-align: center;
                     font-size: 20px;
                     width: 100%;
                     letter-spacing: 2px;
                     line-height: 35px;
                     transition: 1s;
                     //  transition: 0.5s;
                     //  transition-delay: 1s;
                     @at-root .EN .desktop_value .wrap .container .descriptionOut .description p {
                         display: block;
                         height: 160px;
                     }
                 }
             }
             .value_more {
                 display: none;
             }
         }
     }
 }
 
 .desktop_value.style_1 {
     .bg_list {
         top: 0;
     }
     .wrap {
         .container {
             .subjectOut {
                 .subjectBorder {
                     .subject {
                         .text {
                             top: 0;
                         }
                     }
                     &:before {
                         background-color: #ee777b;
                     }
                     &:after {
                         background-color: #ee777b;
                     }
                 }
             }
             .show_page {
                 .white_line {
                     .color_1 {
                         width: 100%;
                     }
                 }
             }
             .descriptionOut {
                 .description {
                     top: 0;
                 }
             }
             .more_1 {
                 display: block;
             }
         }
     }
 }
 
 .desktop_value.style_2 {
     .bg_list {
         top: -100%;
     }
     .wrap {
         .container {
             .subjectOut {
                 .subjectBorder {
                     .subject {
                         .text {
                             top: -50px;
                         }
                     }
                     &:before {
                         background-color: #6e99cb;
                     }
                     &:after {
                         background-color: #6e99cb;
                     }
                 }
             }
             .show_page {
                 .white_line {
                     .color_2 {
                         width: 100%;
                     }
                 }
             }
             .descriptionOut {
                 .description {
                     top: -70px;
                     @at-root .EN .desktop_value.style_2 .wrap .container .descriptionOut .description {
                         top: -160px;
                     }
                 }
             }
             .more_2 {
                 display: block;
             }
         }
     }
 }
 
 .desktop_value.style_3 {
     .bg_list {
         top: -200%;
     }
     .wrap {
         .container {
             .subjectOut {
                 .subjectBorder {
                     .subject {
                         .text {
                             top: -100px;
                         }
                     }
                     &:before {
                         background-color: #95d0bc;
                     }
                     &:after {
                         background-color: #95d0bc;
                     }
                 }
             }
             .show_page {
                 .white_line {
                     .color_3 {
                         width: 100%;
                     }
                 }
             }
             .descriptionOut {
                 .description {
                     top: -140px;
                     @at-root .EN .desktop_value.style_3 .wrap .container .descriptionOut .description {
                         top: -320px;
                     }
                 }
             }
             .more_3 {
                 display: block;
             }
         }
     }
 }
 
 .desktop_value.style_4 {
     .bg_list {
         top: -300%;
     }
     .wrap {
         .container {
             .subjectOut {
                 .subjectBorder {
                     .subject {
                         .text {
                             top: -150px;
                         }
                     }
                     &:before {
                         background-color: #f9c460;
                     }
                     &:after {
                         background-color: #f9c460;
                     }
                 }
             }
             .show_page {
                 .white_line {
                     .color_4 {
                         width: 100%;
                     }
                 }
             }
             .descriptionOut {
                 .description {
                     top: -210px;
                     @at-root .EN .desktop_value.style_4 .wrap .container .descriptionOut .description {
                         top: -480px;
                     }
                 }
             }
             .more_4 {
                 display: block;
             }
         }
     }
 }
 
 $list:#ee777b,
 #6e99cb,
 #95d0bc,
 #f9c460;
 .mobile_value {
     display: block;
     padding: 105px 0 105px 0;
     background-position: center;
     background-size: cover;
     @for $i from 1 through 4 {
         &.bg_#{$i} {
             background-image: url('~CH/desktop/index/value/bg_#{$i}.jpg');
             .subjectBorder {
                 &::before,
                 &::after {
                     background-color: nth($list, $i);
                 }
             }
         }
     }
     .wrap {
         color: white;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         .title {
             font-size: 50px;
             letter-spacing: 10px;
             text-align: center;
             font-weight: 100;
             .color {
                 height: 4px;
                 font-size: 0;
                 padding-top: 20px;
                 text-align: center;
                 div {
                     margin-right: -11px;
                     display: inline-block;
                     height: 4px;
                     width: 18px;
                 }
             }
         }
         .container {
             position: relative;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             max-width: 600px;
             width: 100%;
             border: 1px solid white;
             border-top-color: rgba(255, 255, 255, 0);
             padding: 135px 0;
             //圖片更換需改margin-top
             margin-top: 33px;
             .textOut {
                 position: absolute;
                 //圖片更換需改top
                 top: -25px;
                 left: 0;
                 width: 100%;
                 overflow-x: hidden;
                 text-align: center;
                 .text {
                     position: relative;
                     display: inline-block;
                     width: auto;
                     height: 50px;
                     padding: 0 30px;
                     font-size: 38px;
                     letter-spacing: 7px;
                     &:before {
                         content: '';
                         position: absolute;
                         top: 50%;
                         right: 100%;
                         width: 200%;
                         height: 1px;
                         background-color: white;
                     }
                     &:after {
                         content: '';
                         position: absolute;
                         top: 50%;
                         left: 100%;
                         width: 200%;
                         height: 1px;
                         background-color: white;
                     }
                 }
             }
             .subjectOut {
                 width: 100%;
                 overflow: hidden;
                 text-align: center;
                 .subjectBorder {
                     font-size: 40px;
                     position: relative;
                     display: inline-block;
                     width: auto;
                     padding: 0 90px;
                     height: 50px;
                     line-height: 50px;
                     @at-root .EN .mobile_value .wrap .container .subjectOut .subjectBorder {
                         padding: 0 10px;
                     }
                     &:before {
                         content: '';
                         position: absolute;
                         top: 50%;
                         right: 100%;
                         width: 100px;
                         height: 2px;
                     }
                     &:after {
                         content: '';
                         position: absolute;
                         top: 50%;
                         left: 100%;
                         width: 100px;
                         height: 2px;
                     }
                     .subject {
                         position: relative;
                         width: 160px;
                         @at-root .EN .mobile_value .wrap .container .subjectOut .subjectBorder .subject {
                             width: auto;
                             margin: 0 auto;
                         }
                         .text {
                             // position: absolute;
                             // top: 0;
                             // left: 0;
                             font-weight: 550;
                             transition: 1s;
                         }
                         i {
                             display: inline-block;
                             width: 50px;
                             height: 50px;
                             &.red {
                                 background-color: #ee777b;
                             }
                             &.blue {
                                 background-color: #6e99cb;
                             }
                             &.green {
                                 background-color: #95d0bc;
                             }
                             &.yellow {
                                 background-color: #f9c460;
                             }
                             &:last-child {
                                 margin-left: 60px;
                             }
                             @at-root .EN .mobile_value .wrap .container .subjectOut .subjectBorder .subject .text i {
                                 margin-right: 1px;
                                 &:last-child {
                                     margin-right: 0;
                                     margin-left: 0;
                                 }
                             }
                         }
                     }
                 }
             }
             .descriptionOut {
                 position: relative;
                 margin: 40px 0 60px 0;
                 max-width: 455px;
                 width: 100%;
                 height: auto;
                 .description {
                     text-align: center;
                     font-size: 20px;
                     width: 100%;
                     letter-spacing: 2px;
                     line-height: 35px;
                 }
             }
         }
     }
 }
 
 @include lessThan($rwdX) {
     .desktop_value {
         .wrap {
             .container {
                 padding-bottom: 100px;
                 width: 1000px;
                 @at-root .EN .desktop_value .wrap .container {
                     padding-bottom: 40px;
                 }
             }
         }
     }
 }
 
 @at-root .desktop {
     .desktopo_value_out {
         display: block;
     }
     .mobile_value {
         display: none;
     }
     @include lessThan($rwdL) {
         .desktopo_value_out {
             display: none;
         }
         .mobile_value {
             display: block;
         }
     }
 }