doctype html
html
    head
        - var devMode = process.env.NODE_ENV  == 'development'
        - function date_now_format() { var date = new Date(); return date.getFullYear() + "_" + ( date.getMonth() + 1 ) + "_" + date.getDate() + "_" + date.getHours() + "_" + date.getMinutes() + "_" + date.getSeconds();     }
        - var time = date_now_format();
        meta(charset='UTF-8')
        
        link(rel="shortcut icon" type="image/ico" href="/asset/img/CH/favicon-jean.ico")
        //- meta(name="viewport" content="width=640, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")
        meta(name="viewport" content="width=device-width, user-scalable=no, shrink-to-fit=no")
        //- meta(name="description" content="")
        //- meta(property="og:title" content="")
        //- meta(property="og:description" content="")
        meta(property="og:image" content="/asset/img/CH/fb_share_1200x627.jpg")
        meta(name="og:image:width" content="1200")
        meta(name="og:image:height" content="630")
        link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
        script(src="/asset/lib/jquery.min.js" defer)
        script(src='/asset/lib/es6-promise.auto.min.js' defer)
        script(src="/asset/lib/jquery.easing.min.js" defer)

        //- script(src='https://use.typekit.net/pqh3lvn.js')
        //- script.
        //-     try{Typekit.load({ async: true });}catch(e){}

        link(rel="stylesheet", href="/asset/css/master.css")
        script(src="/asset/js/master.js" defer)
        block head-append
    body.EN
        block body-prepend
        .root
            block root-prepend
            //- root-prepend END
            block header
            //- include ./include/master/header.pug
            block sticky
            .wrapper
                block content-extend
            include ./include/master/footer.pug
        <!--[if lt IE 10]>
        <div class="ie_message"><a class="ie_link" href="https://support.microsoft.com/zh-tw/help/17621/internet-explorer-downloads" target="_blank"><img src="~CH/jeancard_oops.jpg"/></a><a class="ie_link oops_EN" href="https://support.microsoft.com/en-us/help/17621/internet-explorer-downloads" target="_blank"><img src="~CH/jeancard_oops_en.jpg"/></a></div><link rel="stylesheet" type="text/css" href="/asset/css/ie.css" /><script src="/asset/js/ie.js"></script>
        <![endif]-->
    include ./include/vcode/ga.pug