extends _master.pug
block head-append
    title Email | Jean Cultural & Creative 
    meta(property="og:title" content="Email | Jean Cultural & Creative ")
    meta(name="description" content="Welcome to contact us for more information. Our sales team will get back to you soon.")
    meta(property="og:description" content="Welcome to contact us for more information. Our sales team will get back to you soon.")

    script(src="/asset/js/contact.js" defer)
    link(rel="stylesheet", href="/asset/css/contact.css")

block header
    include ./include/master/header.pug
    +header(['','','','','','ON'])
    
block content-extend
    include ./include/common/page_theme.pug
    include ./include/common/page_select.pug
    include ./include/common/select.pug
    include ./include/master/makers_header.pug
    .business
        +page_theme("CONTACT","聯絡我們","background-image:url('${require(`../../img/CH/desktop/shoplist/bg.jpg`)}')")

        +page_select([['Shoplist','/EN/shoplist.html',''],['Business','/EN/business.html',''],['Contact','/EN/contact.html','ON']],false)
        +makers_header([['Shoplist','/EN/shoplist.html',''],['Business','/EN/business.html',''],['Contact','/EN/contact.html','ON']])
        .main_content
            .main_container.first_container
                .main_wrap
                    .direct_store_container.space_between
                        .left_space.contact
                            .text.desktop Contact us directly by email for more information.
                            //- .text.desktop 請直接與我們聯繫。
                            .text.icon
                            .text.mobile Contact us directly by email for more information.
                            //- .text.mobile  請直接與我們聯繫。
                        .right_space
                            +select([['Inquiry category'],['媒體通關洽談'],['紙膠帶客製化服務'],['其他商品客製化服務'],['其他']])
                            textarea(placeholder="Please leave your inquiry, we will reply asap.")
                            +select([['Address'],['台灣'],['中港澳'],['其他']])
                            .gender
                                .input_gender
                                    input(type="text" placeholder="Full name")
                                .select_gender
                                    +select([['Mr.'],['Ms.']])
                            input(type="text" placeholder="Phone (not necessary)")
                            .rule_text *Mobile phone or local phone number with area code, no mark is required. For example, 0933123456 or 0229171700.
                            //- .rule_text 
                            input(type="text" placeholder="E-mail")
                            input(type="text" placeholder="Company/ Department/Organization")
                            .vcode
                                img(src="", alt="")
                                input(type="text" placeholder="Enter code")
                                a(href="javascript:;").update renew code
                            a(href="javascript:;").more_btn.brown.send_Info Submit
                                .more_hover()
                            
                    
    include ./include/common/service.pug
    +service("not_index")  
    include ./include/common/fixed_service.pug
