extends _master.pug
block head-append
    title History| Jean Cultural & Creative 
    meta(property="og:title" content="History| Jean Cultural & Creative ")
    meta(name="description" content="Jean Cultural & Creative history, milestone and honor.")
    meta(property="og:description" content="Jean Cultural & Creative history, milestone and honor.")

    script(src="/asset/js/history.js" defer)
    link(rel="stylesheet", href="/asset/css/history.css")

block header
    include ./include/master/header.pug
    +header(['','ON','','','',''])

block content-extend
    include ./include/common/page_theme.pug
    include ./include/common/page_select.pug
    include ./include/common/select.pug
    include ./include/master/makers_header.pug
    .business
        +page_theme("ABOUT","關於知音","background-image:url('${require(`../../img/CH/desktop/buyers/bg.jpg`)}')")

        +page_select([['Genesis','/EN/about.html',''],['History','/EN/history.html','ON'],['Classic','/EN/classic.html',''],['Hiring','/EN/hiring.html','']],false)
        +makers_header([['Genesis','/EN/about.html',''],['History','/EN/history.html','ON'],['Classic','/EN/classic.html',''],['Hiring','/EN/hiring.html','']])
        .history_select_out
                .history_select
                    .switch_click.default_option 創新2007~至今
                    .switch_click.switchskin
                    .history_option_out
                        each val,index in [['創新2007~至今'],['成長 1990-2006'],['起步 1976-1989']]
                            p.history_option.option_click(data-value=index data-name=val[0])=val[0]

        .main_content     
            .main_container.first_container.history
                .history_container.blue
                    .history_title.title_click
                        h1 創新2007~至今
                        p 邁向數位、傳遞永續經營理念
                        .history_menu
                    .history_content
                        .history_record
                            span.year.blue 2016
                            span.text Developed wooden product automation equipments to replace manual work for better and more precise quality.
                            span.text.last Passed the Taiwan combination plantation pot patent (utility model patent M532728)
                            span.history_logo.width_50.mileage 
                                span.logo_text_out 
                                    span.logo_text Official launch of Wooderful life home appliances.
                            span.history_logo.width_50.prize_cup 
                                span.logo_text_out 
                                    logo_text City Music Box won the first prize at the Keelung Selected Design Competition.
                        .history_record
                            span.year.blue 2015
                            span.history_logo.prize_cup 
                                span.logo_text_out 
                                    logo_text Best Corporate Style Award 2015 from Shopping Design 
                        .history_record
                            span.year.blue 2014
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    logo_text Created the “LiKEE” brand to perfectly present the beauty of local culture with different types of products from different angles and with a sense of mission.
                        .history_record
                            span.year.blue 2013
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Created the “Paper N thought” brand using unique laser cutting technology to present the changes of light and shadows when light passes through and the diversity and delicacy of the product’s classy quality.
                            span.history_logo.prize_cup 
                                span.logo_text_out 
                                    logo_text Masking tapes won the Best New Product of the Year at the National Stationery Show held in New York.
                        .history_record
                            span.year.blue 2012
                            span.text Renamed “Jean Cultural and Creative Co., Ltd.” and changed business model from ODM to OBM.
                            span.text Opened the Taipei factory to focus on the manufacture of MIT masking tapes, fine laser cut paper products, and DIY wooden products for domestic sales.
                            span.text Passed ISO14001 certification for environmental management to provide employees with a good environment and reduce environmental hazards and risks.
                            span.text.last Passed the US knitted wire corresponding pasteboard patent (8292066)
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Launched the “[xiu] Crafts” brand to disseminate the original spirit: “needles for brushes and threads for colors” to add colors to this land.
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Launched the “Wooderful life” brand to bring charming melodies and dynamic fun with winding mechanisms, decorate life with log products, and disseminate the warmth between man and nature in order to express sensation in the simple beauty in daily life.
                        .history_record
                            span.year.blue 2011
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Passed FSC certification through promoting sustainable forest.
                            span.history_logo.prize_cup 
                                span.logo_text_out 
                                    logo_text Displayed products at the Hall of Fine Designs in the Hong Kong Gifts and Premium Fair 2011-201
                        .history_record
                            span.year.blue 2010
                            span.text Established the mold injection department and imported new technology equipment to optimize manufacturing processes. Expanded sales to the inland China market.
                            span.text.last  Passed the Taiwan knitted wire corresponding pasteboard patent (utility model patent M373927)
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Created the “Funtape” brand and developed light, transparent, and easy to tear MIT masking tapes with Taiwan long-fiber cotton papers and soy ink.
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Created the “i-Marker” brand to optimize sticky notes with better performance using ultrafine cutters and punching design
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Produced licensed products of DEKO BOKO.
                            span.history_logo.prize_cup 
                                span.logo_text_out 
                                    logo_text Won the Best Card of the Year at the National Stationery Show held in New York.
                        .history_record
                            span.year.blue 2009
                            span.text  Established a material testing laboratory operated in compliance with the ISO/IEC 17025 General requirements for the competence of testing and calibration laboratories to strictly control product quality.
                            span.text.last Established a cross-stitch department and laser cutting department to expand production line scale and the scope of gift development.
                        .history_record
                            span.year.blue 2007
                            span.text The ERP system went live for e-management and standardization of production. Established digital printing and logistic departments to enhance efficiency and integration.
                            span.text.last The ERP system went live for e-management and standardization of production.
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Produced licensed products of Martha Stewart.
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Signed a cooperation agreement with Disney Asia. Licensed for card production from Sanrio Europe as an international recognition for design, technology, and quality.
                            span.history_logo.prize_cup 
                                span.logo_text_out 
                                    logo_text Won the Best Product in Asia Pacific at the Disney Global Stationery Submit.
                .history_container.green
                    .history_title.title_click
                        h1 成長 1990-2006
                        p 跨足海外、邁向全球
                        .history_menu
                    .history_content
                        .history_record
                            span.year.green 2006
                            span.text.last Opening of the world-class garden factory in Shenzhen with space for 6,000 workers and over 80% of Jean’s capacity to meet global demands.
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Licensed to design paper gifts from Disney.
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Produced licensed products of Coca Cola, Sesame Street, Elvis, NBA, Marvel, and Fuji Yoko.
                            span.history_logo.prize_cup 
                                span.logo_text_out 
                                    logo_text Handmade stickers won the Best Product Award from the Frankfurt Show.
                        .history_record
                            span.year.green 2005
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Produced licensed products of Snoopy, NASCAR, Dr. Seuss, NFL, and NASCAR.
                        .history_record
                            span.year.green 2004
                            span.text  Established an IT department for business process computerization from marketing development to production management to accelerate process management and enhance work efficiency.
                            span.text.last Developed the ERP platform for seamless interdepartmental cooperation and fulfilling the constantly innovating organizational system.
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Produced licensed products of Ghibli, MLB, Harley Davidson, and M&M
                            span.history_logo.prize_cup 
                                span.logo_text_out 
                                    logo_text Elected as the Best Innovative Product of the Year by a leading US paper DIY magazine.
                        .history_record
                            span.year.green 2003
                            span.text.last Passed Disney’s factory audit for producing licensed Disney products.
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Produced licensed products of Disney, Laura Ashley and Hasbro.
                            span.history_logo.prize_cup 
                                span.logo_text_out 
                                    logo_text Won the Best Card of the Year at the National Stationery Show held in New York. 
                        .history_record
                            span.year.green 2002
                            span.text Jean Shenzhen passed ISO9001 certification for quality management to re-assure compliance with international standards in product development, manufacture, and process.
                            span.text.last Established Jean Xiamen factory.
                            span.history_logo.prize_cup 
                                span.logo_text_out 
                                    logo_text Won the Best Card of the Year at the National Stationery Show held in New York.
                        .history_record
                            span.year.green 1999
                            span.text.last Shenzhen factory started mass production to achieve vertical integration combining design, development, and manufacture for a new milestone. 
                        .history_record
                            span.year.green 1998
                            span.text.last Established a paper product printing factory in Shenzhen, China, as Jean’s first overseas production base.  
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Signed an OEM agreement with Sanrio of Japan to produce Christmas card for Sanrio and earn an exclusive license for Sanrio card manufacture and sales in Taiwan. 
                        .history_record
                            span.year.green 1997
                            span.text.last Founded Jean Magazine and BaLa Blog as communication channels between Jean and consumers.
                        .history_record
                            span.year.green 1996
                            span.text.last Headquartered in Xindian to provide a comfortable office environment for 18 years with a garden, a greenhouse, and a forest log cafeteria.
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Won unanimous acclaim from home and abroad for the new Natural Element and handmade card series to re-confirm the industry leadership of “Jean Card”
                        .history_record
                            span.year.green 1995
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Launched the Petit Nicholas, Gili Gowla, and Class Cat series to redefine the order of Taiwan’s logo product market.  Developed Home Decor Series at international fairs.
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text  Developed the gardening series to turn pot plants into gifts by launching the red-clay pots, imitation stone pots, and mini pot plants.
                        .history_record
                            span.year.green 1994
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text The “Cathy” series earned vast feedback as a dark horse and became an idol brand of new-generation youth.
                        .history_record
                            span.year.green 1990
                            span.text.last Established overseas marketing channels in Hong Kong and Southeast Asia.
                .history_container.yellow
                    .history_title.title_click
                        h1 起步 1976-1989
                        p 草創時期、一步一腳印
                        .history_menu
                    .history_content
                        .history_record
                            span.year.yellow 1989
                            span.text.last Restructured to Jean Card and Gift Co., Ltd. and full computerization.
                        .history_record
                            span.year.yellow 1988
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Launched half-face 3D stickers and DIY cards to start Jean’s handmade card history.
                        .history_record
                            span.year.yellow 1986
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Created star products including “band-aid stickers”, “decorative mirrors”, and “puzzles” that gained vast popularity in Taiwan; and won lots of orders from Europe for the “decorative mirror” and wooden products.
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text  Received brand licensing from the U.S. for Fido Dido and Garfield.
                        .history_record
                            span.year.yellow 1985
                            span.text.last Established the Poly factory and a screen printing factory to produce glass decorations, wall pictures, and decorative paintings which earned heated feedback in the European and US markets. 
                            span.history_logo.prize_cup 
                                span.logo_text_out 
                                    logo_text Won a gold medal from the most admired Christmas card poll for two consecutive years.
                        .history_record
                            span.year.yellow 1981
                            span.text.last Established Jean Card and Gift Co., Ltd.
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text 迪士尼授權設計紙類禮品
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Successfully launched the “Jean Little Kangaroo Card” series which earned Jean a place in the card and gift business.
                        .history_record
                            span.year.yellow 1978
                            span.text.last Established the “Jean Card & Gift Shop” near Taipei Main Station.
                            span.history_logo.mileage 
                                span.logo_text_out 
                                    span.logo_text Launched the New Year Card series in the brand of “Jean”.
                        .history_record
                            span.year.yellow 1976
                            span.text.last Established the “Creative Art Studio”.
    include ./include/common/service.pug
    +service("not_index")  
    include ./include/common/fixed_service.pug
