extends _master.pug

block head-append
    title Jean Cultural & Creative | Quality to increase product variety with fantastic designs.
    meta(property="og:title" content="Jean Cultural & Creative | Quality to increase product variety with fantastic designs.")
    meta(name="description" content="Jean Cultural & Creative is the dream works of creativity, obsession, and passion. Beginning business with producing original design greeting cards, we keep enhancing manufacturing technique and quality to increase product variety with fantastic designs.")
    meta(property="og:description" content="Jean Cultural & Creative is the dream works of creativity, obsession, and passion. Beginning business with producing original design greeting cards, we keep enhancing manufacturing technique and quality to increase product variety with fantastic designs.")

    link(rel='stylesheet' href="/asset/lib/swiper/swiper.min.css")
    script(src="/asset/lib/swiper/swiper.min.js" defer)
    script(src="/asset/lib/jquery.mousewheel.min.js" defer)
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js")

    script(src="/asset/js/index.js" defer)
    link(rel="stylesheet", href="/asset/css/index.css")

block root-prepend
    include ./include/index/top_img.pug
block header
    include ./include/master/header.pug
    +header(['','','','','',''])
block sticky
    .sticky_container
            .text_space
                //- span 祝你每一天都有意想不到的喜悅
                //- span 每一年都有純真的快樂，都即將實現
    .background_black
block content-extend
    include ./include/index/news_events.pug
    include ./include/index/value.pug
    include ./include/index/brand.pug

    include ./include/common/service.pug
    +service("")