extends _master.pug
block head-append
    title Marketing| Jean Cultural & Creative 
    meta(property="og:title" content="Marketing| Jean Cultural & Creative ")
    meta(name="description" content="Full marketing campaign planning and display assistance enable us to tailor the location-based display of individual brands. Zone-based displays are presented in situated shelves. The exclusively designed dynamic display for focusing on products with music and lighting effect adds fun and joy to malls with comprehensive splendid display effect.")
    meta(property="og:description" content="Full marketing campaign planning and display assistance enable us to tailor the location-based display of individual brands. Zone-based displays are presented in situated shelves. The exclusively designed dynamic display for focusing on products with music and lighting effect adds fun and joy to malls with comprehensive splendid display effect.")

    link(rel='stylesheet' href="/asset/lib/swiper/swiper.min.css")
    script(src="/asset/lib/swiper/swiper.min.js" defer)
    script(src="/asset/js/marketing.js" defer)
    link(rel="stylesheet", href="/asset/css/marketing.css")

block header
    include ./include/master/header.pug
    +header(['','','ON','','',''])

block content-extend
    include ./include/common/page_theme.pug
    include ./include/common/page_select.pug
    include ./include/common/select.pug
    include ./include/master/makers_header.pug
    .business
        +page_theme("MAKERS","創新開發","background-image:url('${require(`../../img/CH/desktop/makers/bg.jpg`)}')")

        +page_select([['Design','/EN/design.html',''],['Material','/EN/material.html',''],['Production','/EN/production.html',''],['Marketing','/EN/marketing.html','ON']],false)
        +makers_header([['Design','/EN/design.html',''],['Material','/EN/material.html',''],['Production','/EN/production.html',''],['Marketing','/EN/marketing.html','ON']])
        .main_content
            .main_container.first_container
                .main_title_out
                    span.main_title Exclusive Display
            .makers_full_screen
                .swiper-container
                    .swiper-wrapper  
                        .swiper-slide
                            img(src="~CH/desktop/makers/marketing/ph_1_1.jpg", alt="") 
                        .swiper-slide
                            img(src="~CH/desktop/makers/marketing/ph_1_2.jpg", alt="") 
                        .swiper-slide
                            img(src="~CH/desktop/makers/marketing/ph_1_3.jpg", alt="") 
                        .swiper-slide
                            img(src="~CH/desktop/makers/marketing/ph_1_4.jpg", alt="") 
                        .swiper-slide
                            img(src="~CH/desktop/makers/marketing/ph_1_5.jpg", alt="")
                    .swiper-pagination
                    .swiper-button-prev.swiper-button-black
                    .swiper-button-next.swiper-button-black
                span.text Full marketing campaign planning and display assistance for tailoring the location-based display of individual brands, such as large dolls, dynamic props, and stylish devices for individual events. Zone-based displays are presented in situated shelves. The exclusively designed dynamic display for focusing on products with music and lighting effect adds fun and joy to malls with comprehensive splendid display effect.
            .makers_full_screen
                .main_container
                    .main_title_out
                        span.main_title Partnership
                    .makers_container
                        .makers_rol_6.top
                            img.photo(src="~CH/desktop/makers/marketing/ph_2_1.jpg", alt="")
                            .main_icon Global Markets
                            span Starting from Taiwan, we distribute products to 25 countries including China, Hong Kong, Macao, the USA, the UK, Japan, South Korea, Singapore, New Zealand, and Australia.
                        .makers_rol_6.top
                            img.photo(src="~CH/desktop/makers/marketing/ph_2_2.jpg", alt="")
                            .main_icon Annual Key Marketing Events
                            span We participate in the Hong Kong Gifts and Premium Fair and Hall of Fine Designs in April every year and attract over 10,000 visitor-times and discover worldwide partners.
            .makers_full_screen.gray
                .main_container
                    .makers_container.company_log
                        .makers_rol_6.top
                            .main_icon Global Key Partners
                            span Taiwan: eslite, Kingstone, Books.com, airport duty-free shops (Everrich and Tasa Meng)
                            span USA: Leading gift supplier PAPYRUS
                            span UK: Gift retailer Clintons
                            span Japan: Sanrio and DESIGNPHIL (Midori)
                            span Hong Kong: Long on, eslite.
                        .company_logo_list
                            - for (var x = 1; x < 14; x++)
                                -var logoStr = "~CH/desktop/makers/marketing/logo_"+ x +".png";
                                .company_logo
                                    img(src=logoStr, alt="")
            .makers_full_screen
                .makers_introduction.marketing
                    h1 Join Us
                    span Upholding the maker’s spirit for 40 years, we make continuous product innovation through incessant self-challenges and help our partners to create more business opportunities.
                    a(href="/EN/business.html").more_btn.white.marketing Contact Now
                        .more_hover
    include ./include/common/service.pug
    +service("not_index")  
    include ./include/common/fixed_service.pug
