extends _master.pug
block head-append
    title Privacy Policy| Jean Cultural & Creative 
    meta(property="og:title" content="Privacy Policy| Jean Cultural & Creative ")
    meta(name="description" content="Jean Cultural & Creative Privacy Protection Policy")
    meta(property="og:description" content="Jean Cultural & Creative Privacy Protection Policy")

    script(src="/asset/js/privacy.js" defer)
    link(rel="stylesheet", href="/asset/css/privacy.css")

block header
    include ./include/master/header.pug
    +header(['','','','','',''])

block content-extend
    include ./include/common/page_theme.pug
    include ./include/common/page_select.pug
    include ./include/common/select.pug
    .business
        +page_theme("PRIVACY","","color:#707372;")

        .main_content
            .privacy_container
                span Welcome to the Jean Cultural & Creative website (hereinafter called this “Website”). For you to securely use all services and information contained in this Website, this Privacy Statement explains our Privacy Protection Policy (the “Policy”) to protect your rights and interests. Please read the following contents carefully.
                .dotted_line
                h1 1.	Scope of the Policy
                //- span 隱私權保護政策內容，包括本網站如何處理在您使用網站服務時收集到的個人識別資料。隱私權保護政策不適用於本網站以外的相關連結網站，也不適用於非本網站所委託或參與管理的人員。
                //- span 本網站在您使用服務信箱、問卷調查等互動性功能時，會保留您所提供的姓名、電子郵件地址、聯絡方式及使用時間等。
                //- span 於一般瀏覽時，伺服器會自行記錄相關行徑，包括您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，做為我們增進網站服務的參考依據，此記錄為內部應用，決不對外公佈。
                span.last_span Our Policy covers how we process your personal identification information while you use any functions and/or services (the “Service”) on this Website. This Policy shall not apply to the external links to websites outside of this Website, nor shall it apply to administrators not commissioned by or not related to this Website.                      

                h1 2.	Collection, Processing and Use of Personal Information
                span When you visit this Website or use any Service, we may ask you to provide necessary personal information with regard to the nature of the service or function you use. We will also process and use your personal information for service-specific purpose(s). Under no circumstance shall this Website use your personal information for other purpose(s) without your written approval.
                span When using interactive services on this Website such as Contact Us and on-line polls, the name, email address, contact information, and time of use you provided will be kept.
                span When you browse this Website, our server will automatically record relevant paths, including the IP address of your networking equipment, the time of connection, the type(s) of browsers you use, and the data you have browsed and/or selected for the reference of our Service improvement. All such records will only be used internally and will not be disclosed to the public.
                span.last_span To provide you with accurate services, we will analyze the data collected from on-line polls with statistical techniques and present the relevant results in statistics or text descriptions. Apart from internal studies, we may disclose such statistics or text descriptions to the public where necessary, provided that no specific personal information will be involved.

                h1 3.	Data Protection
                span This Website has equipped all servers with various information security equipment and security protection measures, such as firewall and antivirus systems, to strictly protect this Website and your personal information. Your personal information will only be assessed by authorized personnel who are requested to sign a non-disclosure agreement to assume their legal liabilities/responsibilities for violations of their non-disclosure obligations.
                span.last_span Where it is necessary to outsource the Service for business needs, this Website will also request the service provider(s) to comply with the relevant non-disclosure obligations and conduct inspections necessary for ensuring their compliance.

                h1 4.	External Links of the Website
                span.last_span This Website may provide links to other websites. You may also visit those websites by clicking on such links. Please note that this Policy does not apply to such websites connected via this Website. When you visit those websites, you must read the privacy protection policy of the respective websites.

                h1 5.	Policy for Sharing Personal Information with Third Parties
                span Unless otherwise specified by the law or in a contract, under no circumstance shall this Website provide, exchange, lease or sell your personal information to any individuals, groups, private enterprises, or government agencies.
                br
                span The exceptions to the foregoing paragraph include, but are not limited to:
                span Disclosures with your written approval.
                span Disclosures as requested by law.
                span Disclosures for relieving hazards on your life, body, or freedom or property.
                span Disclosures for the need of conducting statistics for the public interest or academic research through cooperation with government agencies or academic research institutions, provided that such information shall be processed by the provider or disclosure by the collector with methods that can ensure no identification of the specific information owners.
                span Disclosures necessary for the identification, contact or taking of legal action when your behavior on this Website has violated the terms of use or may cause potential harm to or interfere with the rights and interests of other users or cause damage to any other parties.
                span Disclosures for the benefits of your rights and interests.
                span.last_span When outsourcing other service providers or individuals to collect, process and/or use your personal information, this Website will exercise due professional care as a good administrator to manage such service providers or individuals.

                h1 6.	Use of Cookies
                span.last_span To optimize the Service for you, this Website may send and use our cookies to and in your computer. If you decline to accept such cookies, please set the privacy level of your browser(s) to the highest level to block cookies from entering your computer. However, some Website functions may not work properly in the absence of suck cookies.

                h1 7.	Amendment of the Policy
                span This Website may amend the Policy as necessary and post the amendment(s) on the website afterwards.
                    
    include ./include/common/service.pug
    +service("not_index")  
    include ./include/common/fixed_service.pug
